

    .cards {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .card {
          background-color: white;
          border-radius: 0.25rem;
          box-shadow: 0 20px 40px -14px rgba(17, 126, 215, 0.25);
          display: flex;
          flex-direction: column;
          overflow: hidden;

          &:hover {
              .card__image {
                  filter: contrast(100%);
              }
          }
    }

    .card__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        filter: contrast(70%);
        //filter: saturate(180%);
        overflow: hidden;
        position: relative;
        transition: filter 0.5s cubic-bezier(.43, .41, .22, .91);
        ;

        // &::before {
        //     content: "";
        //     display: block;
        //     padding-top: 56.25%; // 16:9 aspect ratio
        // }

        // @media(min-width: 40rem) {
        //     &::before {
        //         padding-top: 66.6%; // 3:2 aspect ratio
        //     }
        // }
    }

    .cards__item {
        display: flex;
        padding: 1rem;

        @media(min-width: 40rem) {
            width: 50%;
        }

        @media(min-width: 56rem) {
            width: 33.333333333%;
        }
    }



    
