
$position: absolute;
$width: 20rem;
$height: 17rem;
$widthDataScience: 22rem;
$heightDataScience: 22rem;
$widthCloud: 16rem;
$heightCloud: 16rem;

$box-shadow: 4px 4px 4px rgba(49, 149, 230, 0.25);




