@import "cardDimensions.scss";

.iot {
    position: $position;
    left: 1%;
    right: 0%;
    top: 17%;
    bottom: 26.29%;
    width: $width;
    height: $height;

    background: #FFFFFF;
    border: 20px solid #CE8CE6;
    box-shadow: $box-shadow;
}

.dataScience {
position: $position;
left: 22%;
right: 0%;
top: 17%;
bottom: 26.29%;
width: $width;
height: $height;

background: #FFFFFF;
border: 20px solid #EBF8CF;
box-shadow: $box-shadow
}

.analytics {
    position: $position;
    left: 43%;
    right: 0%;
    top: 17%;
    bottom: 26.29%;
    width: $width;
    height: $height;

    background: #FFFFFF;
    border: 20px solid #FADFB7;
    box-shadow: $box-shadow;
}

.testing {
    position: $position;
    left: 64%;
    right: 0%;
    top: 17%;
    bottom: 26.29%;
    width: $width;
    height: $height;

    background: #FFFFFF;
    border: 20px solid #DBF8B7;
    box-shadow: $box-shadow;
}

.mobile {
    position: $position;
    left: 84%;
    right: 0%;
    top: 17%;
    bottom: 26.29%;
    width: $width;
    height: $height;

    background: #FFFFFF;
    border: 20px solid #D5D7FB;
    box-shadow: $box-shadow;
}

.cloud {
    position: $position;
    left: 1%;
    right: 0%;
    top: 60%;
    bottom: 15%;
    width: $width;
    height: $height;

    background: #FFFFFF;
    border: 20px solid #F2EF99;
    box-shadow: $box-shadow;
}

.microservices{
position: $position;
left: 22%;
right: 0%;
top: 60%;
bottom: 15%;
width: $width;
height: $height;

background: #FFFFFF;
border: 20px solid #BFD1ED;
box-shadow: $box-shadow;
}

.ui {
position: $position;
left: 43%;
right: 0%;
top: 60%;
bottom: 15%;
width: $width;
height: $height;

background: #FFFFFF;
border: 20px solid #ECF2E3;
box-shadow: $box-shadow;
}

.design {
position: $position;
left: 64%;
right: 0%;
top: 60%;
bottom: 15%;
width: $width;
height: $height;

background: #FFFFFF;
border: 20px solid #CE8CE5;
box-shadow: $box-shadow;
}

.cybersecurity {
position: $position;
left:  84%;
right: 0%;
top: 60%;
bottom: 15%;
width: $width;
height: $height;

background: #FFFFFF;
border: 20px solid #DC90A1;
box-shadow: $box-shadow;
}

.dataScience1 {
position: $position;
left: 22%;
right: 0%;
top: 20%;
bottom: 26.29%;
width: $widthDataScience;
height: $heightDataScience;

background: #FFFFFF;
border: 20px solid #EBF8CF;
}

.dataScience2 {
    position: $position;
    left: 52%;
    right: 0%;
    top: 20%;
    bottom: 26.29%;
    width: $widthDataScience;
    height: $heightDataScience;
    
    background: #FFFFFF;
    border: 20px solid #EBF8CF;
}

.analytics1 {
    position: $position;
    left: 22%;
    right: 0%;
    top: 20%;
    bottom: 26.29%;
    width: $widthDataScience;
    height: $heightDataScience;
    
    background: #FFFFFF;
    border: 20px solid #FADFB7;
}
    
.analytics2 {
        position: $position;
        left: 52%;
        right: 0%;
        top: 20%;
        bottom: 26.29%;
        width: $widthDataScience;
        height: $heightDataScience;
        
        background: #FFFFFF;
        border: 20px solid #FADFB7;
}

.testing1 {
    position: $position;
    left: 22%;
    right: 0%;
    top: 20%;
    bottom: 26.29%;
    width: $widthDataScience;
    height: $heightDataScience;
    
    background: #FFFFFF;
    border: 20px solid #DBF8B7;
}
    
.testing2 {
        position: $position;
        left: 52%;
        right: 0%;
        top: 20%;
        bottom: 26.29%;
        width: $widthDataScience;
        height: $heightDataScience;
        
        background: #FFFFFF;
        border: 20px solid #DBF8B7;
}

.testing1 {
    position: $position;
    left: 22%;
    right: 0%;
    top: 20%;
    bottom: 26.29%;
    width: $widthDataScience;
    height: $heightDataScience;
    
    background: #FFFFFF;
    border: 20px solid #DBF8B7;
}
    
.testing2 {
        position: $position;
        left: 52%;
        right: 0%;
        top: 20%;
        bottom: 26.29%;
        width: $widthDataScience;
        height: $heightDataScience;
        
        background: #FFFFFF;
        border: 20px solid #DBF8B7;
}
.mobile1 {
    position: $position;
    left: 22%;
    right: 0%;
    top: 20%;
    bottom: 26.29%;
    width: $widthDataScience;
    height: $heightDataScience;
    
    background: #FFFFFF;
    border: 20px solid #D5D7FB;
}
    
.mobile2 {
        position: $position;
        left: 52%;
        right: 0%;
        top: 20%;
        bottom: 26.29%;
        width: $widthDataScience;
        height: $heightDataScience;
        
        background: #FFFFFF;
        border: 20px solid #D5D7FB;
}

.cloud1 {
position: absolute;
left: 20%;
right: 0%;
top: 20%;
bottom: 26.29%;
width: $widthCloud;
height: $heightCloud;

background: #FFFFFF;
border: 20px solid #F2EF99;
}

.cloud2 {
position: absolute;
left: 40%;
right: 0%;
top: 20%;
bottom: 26.29%;
width: $widthCloud;
height: $heightCloud;

background: #FFFFFF;
border: 20px solid #F2EF99;
}

.cloud3 {
position: absolute;
left: 60%;
right: 0%;
top: 20%;
bottom: 26.29%;
width: $widthCloud;
height: $heightCloud;

background: #FFFFFF;
border: 20px solid #F2EF99;
    }

    .ui1 {
    position: absolute;
    left: 20%;
    right: 0%;
    top: 20%;
    bottom: 26.29%;
    width: $widthCloud;
    height: $heightCloud;
    
    background: #FFFFFF;
    border: 20px solid #ECF2E3;
    }
    
    .ui2 {
    position: absolute;
    left: 40%;
    right: 0%;
    top: 20%;
    bottom: 26.29%;
    width: $widthCloud;
    height: $heightCloud;
    
    background: #FFFFFF;
    border: 20px solid #ECF2E3;
    }
    
    .ui3 {
    position: absolute;
    left: 60%;
    right: 0%;
    top: 20%;
    bottom: 26.29%;
    width: $widthCloud;
    height: $heightCloud;
    
    background: #FFFFFF;
    border: 20px solid #ECF2E3;
    }

        .cyber1 {
        position: absolute;
        left: 20%;
        right: 0%;
        top: 20%;
        bottom: 26.29%;
        width: $widthCloud;
        height: $heightCloud;
        
        background: #FFFFFF;
        border: 20px solid #DC90A1;
    }
        
        .cyber2 {
        position: absolute;
        left: 40%;
        right: 0%;
        top: 20%;
        bottom: 26.29%;
        width: $widthCloud;
        height: $heightCloud;
        
        background: #FFFFFF;
        border: 20px solid #DC90A1;
    }
        
        .cyber3 {
        position: absolute;
        left: 60%;
        right: 0%;
        top: 20%;
        bottom: 26.29%;
        width: $widthCloud;
        height: $heightCloud;
        
        background: #FFFFFF;
        border: 20px solid #DC90A1;
    }



    
